

h1 {
	 background-image: url("https://us.123rf.com/450wm/apostrophe/apostrophe1206/apostrophe120600051/14187232-fondo-negro-azul-oscuro-con-colores-p%C3%BArpura-vintage-grunge-textura-de-fondo-manchas-abstractas-y-las-man.jpg?ver=6");
	font-family: courier new;
	font-size: 65px;
	color: white;
	text-align: center;
}
h2 {
	font-family: courier;
	font-size: 25px;
	color: navy;
	text-align: center;
}
body{
	font-family: courier new;
	font-size: 18px;
	text-align: ;
}
body {
  
  background-color: transparent;
}